n8n-workflows/Kontia - Exportar A3.json
{
  "name": "Kontia - Exportar A3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exportar-a3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9d49c69a-6757-40ce-ac30-713f53b95347",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16,
        -64
      ],
      "webhookId": "exportar-a3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT *, id AS \"Id\" FROM facturas WHERE empresa_id = {{ $json.body.empresa_id || $('Webhook').first().json.body.empresa_id || 0 }} AND estado = 'contabilizada' AND eliminada = false ORDER BY fecha_factura ASC LIMIT 1000",
        "options": {}
      },
      "id": "ed64529f-70ef-4ad8-80eb-d1f58d9f2cc1",
      "name": "Leer Facturas PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        256,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "xEf9KNk9w5jR0fn9",
          "name": "kontia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formato A3 Asesor (Wolters Kluwer)\n// Campos separados por tabulador, codificación ANSI\nconst facturas = $('Leer Facturas PostgreSQL').all().map(i => i.json);\nconst body = $('Webhook').first().json.body || {};\nconst codigoEmpresa = body.codigo_empresa || 'KONTIA';\nconst ejercicio = body.ejercicio || new Date().getFullYear().toString();\n\nconst lineas = [];\n\n// Cabecera del fichero\n// Formato: TipoReg|Ejercicio|Diario|Asiento|Fecha|Cuenta|Debe|Haber|Concepto|NIF|Factura\n\nlet numAsiento = 1;\n\nfor (const f of facturas) {\n  const fecha = (f.fecha_factura || '').replace(/-/g, '');\n  const esCompra = (f.tipo_documento || 'compra') !== 'venta';\n  const base = Number(f.base_imponible) || Number(f.total_factura) || 0;\n  const iva = Number(f.cuota_iva) || 0;\n  const retencion = Number(f.cuota_retencion) || 0;\n  const total = Number(f.total_factura) || 0;\n  const cuentaGasto = f.cuenta_gasto || '629';\n  const nif = f.nif_emisor || '';\n  const concepto = (f.nombre_emisor || '') + ' ' + (f.numero_factura || '');\n  const numFra = f.numero_factura || '';\n\n  if (esCompra) {\n    // Línea 1: Gasto (Debe)\n    lineas.push([\n      'A', ejercicio, 'COM', String(numAsiento).padStart(6,'0'),\n      fecha, cuentaGasto.padEnd(10,' '),\n      base.toFixed(2), '0.00', concepto.substring(0,40), nif, numFra\n    ].join('\\t'));\n\n    // Línea 2: IVA Soportado (Debe)\n    if (iva > 0) {\n      lineas.push([\n        'A', ejercicio, 'COM', String(numAsiento).padStart(6,'0'),\n        fecha, '4720000000',\n        iva.toFixed(2), '0.00', 'IVA ' + concepto.substring(0,36), nif, numFra\n      ].join('\\t'));\n    }\n\n    // Línea 3: Retención (Haber) si existe\n    if (retencion > 0) {\n      lineas.push([\n        'A', ejercicio, 'COM', String(numAsiento).padStart(6,'0'),\n        fecha, '4751000000',\n        '0.00', retencion.toFixed(2), 'RET ' + concepto.substring(0,36), nif, numFra\n      ].join('\\t'));\n    }\n\n    // Línea 4: Proveedor (Haber)\n    lineas.push([\n      'A', ejercicio, 'COM', String(numAsiento).padStart(6,'0'),\n      fecha, '4000000001',\n      '0.00', total.toFixed(2), concepto.substring(0,40), nif, numFra\n    ].join('\\t'));\n  } else {\n    // Venta: Cliente (Debe) / Ingreso (Haber) / IVA Repercutido (Haber)\n    lineas.push([\n      'A', ejercicio, 'VEN', String(numAsiento).padStart(6,'0'),\n      fecha, '4300000001',\n      total.toFixed(2), '0.00', concepto.substring(0,40), nif, numFra\n    ].join('\\t'));\n\n    lineas.push([\n      'A', ejercicio, 'VEN', String(numAsiento).padStart(6,'0'),\n      fecha, (cuentaGasto || '7050000000').padEnd(10,' '),\n      '0.00', base.toFixed(2), concepto.substring(0,40), nif, numFra\n    ].join('\\t'));\n\n    if (iva > 0) {\n      lineas.push([\n        'A', ejercicio, 'VEN', String(numAsiento).padStart(6,'0'),\n        fecha, '4770000000',\n        '0.00', iva.toFixed(2), 'IVA ' + concepto.substring(0,36), nif, numFra\n      ].join('\\t'));\n    }\n  }\n  numAsiento++;\n}\n\nconst csv = lineas.join('\\n');\nreturn [{\n  json: {\n    success: true,\n    total_facturas: facturas.length,\n    total_asientos: numAsiento - 1,\n    formato: 'A3',\n    csv_content: csv,\n    filename: 'kontia_a3_' + ejercicio + '_' + new Date().toISOString().split('T')[0] + '.txt'\n  }\n}];"
      },
      "id": "1705836b-c9c8-41bf-b9e4-89206d36a7d7",
      "name": "Generar A3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.csv_content }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain; charset=utf-8"
              },
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $json.filename }}\""
              }
            ]
          }
        }
      },
      "id": "e924ce83-4561-4b26-aad7-2b42ed6afbaf",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        -64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Leer Facturas PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Facturas PostgreSQL": {
      "main": [
        [
          {
            "node": "Generar A3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar A3": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67bfe4a8-ca64-433c-a178-2aa5a4317bbf",
  "meta": {
    "instanceId": "f327dfd493c80fca4f650a08e96d3ff3a416159f8af51aeabdfa008b14e550c4"
  },
  "nodeGroups": [],
  "id": "QxjxVUrK97z5PQAS",
  "tags": []
}